#login {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
}

#welcome {
    position: absolute;
    display: none;
    text-align: center;
}

.tag {
    width: 25vh;
}

#tags {
    position: relative;
    text-align: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 45vh;
    margin: 0 5vh;
}

#welcomeButtons {
    margin-top: 5vh;
}

#playMusic {
    display: none;
}